.spaceship {
  height: 50px;
  width: 50px;
  background-color: blue;
  position: absolute;
}

.space {
  height: 100%;
}

.bullet {
  height: 10px;
  width: 5px;
  background-color: red;
  position: absolute;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}